---
# This example is actually a more complex one than I eventually want to serve
#  as the example config provided to users.  I'm building it and testing with
#  the most advanced of the use cases I was given.

general:
   # All proteins will start out with this product name, before evidence
   #  is evaluated
   default_product_name: hypothetical protein
   
   # If Yes, each annotation attribute is allowed from a different source.  For
   #  example, if there is a high-quality HMM hit that provides a gene product
   #  name and GO terms but lacks an EC number, another source (such as a BLAST
   #  hit) may provide the EC number.
   allow_attributes_from_multiple_sources: No

indexes:
   coding_hmm_lib: /usr/local/projects/jorvis/dbs/coding_hmm_lib.sqlite3
   uniref100: /usr/local/projects/jorvis/dbs/uniprot_trembl.sqlite3
   uniprot_sprot: /usr/local/projects/jorvis/dbs/uniprot_sprot.sqlite3

order:
   - coding_hmm_lib__equivalog
   - rapsearch2__uniref100__trusted_full_full
   - coding_hmm_lib__equivalog_domain
   - rapsearch2__uniref100__trusted_partial_partial

evidence:
   - label: coding_hmm_lib__equivalog
     type: HMMer3_htab
     path: /usr/local/projects/dacc/output_repository/hmmpfam3/10710263220_default/hmmpfam3.htab.list
     class: equivalog
     index: coding_hmm_lib

   - label: coding_hmm_lib__equivalog_domain
     type: HMMer3_htab
     path: /usr/local/projects/dacc/output_repository/hmmpfam3/10710263220_default/hmmpfam3.htab.list
     class: equivalog_domain
     index: coding_hmm_lib
     
   - label: rapsearch2__uniref100__trusted_full_full
     type: RAPSearch2
     path: /usr/local/projects/dacc/output_repository/rapsearch2/10710263220_uniref100/rapsearch2.raw.list
     class: trusted
     query_cov: 85%
     match_cov: 85%

   - label: rapsearch2__uniref100__trusted_partial_partial
     type: RAPSearch2
     path: /usr/local/projects/dacc/output_repository/rapsearch2/10710263220_uniref100/rapsearch2.raw.list
     class: trusted
     query_cov: 50%
     match_cov: 50%
   
   

